
                            <ul >
                                <li class="list">HI MY NAME IS ROHIT GARG</li>
                                <li class="list">I AM PERSUING BTECH(E&TC) FROM IET DAVV</li>
                                <li class="list">I AM PROFICIENT IN C++,DONE 600+ QUESTIONS ON VARIOUS PLATFORM</li>
                                <li class="list">MY CGPA IS 7.818</li>
                                <li class="list">
                                    SKILLS :
                                    <li  class="list">C++,DSA,OOPS</li>
                                    <li  class="list">HTML,CSS,JAVASCRIPT</li>
                                    <li  class="list">BOOTSTRAP,NODEJS,EXPRESSJS</li>
                                </li>
                            </ul>
                        
                 <div style=" padding: 1rem 0; margin: 0;text-align: center;">
        <a class="btn btn-secondary " href="/employee"><i class="fa fa-list-alt"></i> Home</a>
           </div>
