
                                   
                                   <ul  >
                                <li class="list">Guru kripa ->  full-2700/Half-1300</li>
                                <li class="list">Rotipani -> full-2500/Half-1100</li>
                                <li class="list">Apna Mess -> full-3000/Half-1500</li>
                                <li class="list">Uttam Mess -> full-2200/Half-1200</li>
                                <li class="list">Rotipani -> full-2500/Half-1100</li>
                                <li class="list">Zyka food -> full-2500/Half-1100</li>
                                </ul>
          
                        {{!-- <a class="btn btn-info" href="/employee"><button>HOME PAGE</button></a> --}}
                        <div style=" padding: 1rem 0; margin: 0;text-align: center;">
        <a class="btn btn-secondary " href="/employee"><i class="fa fa-list-alt"></i> Home</a>
           </div>
